# data for vibrant can be downloaded using download-db.sh
# - value needs to be a unique identifier (maybe date)
# - name what is shown to the user
# - version store the vibrant version
# - path
# Format:
# value	name	version	path