<tables>
    <table name="dfast" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, version, path</columns>
        <file path="tool-data/dfast.loc" />
    </table>
</tables>
